{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Kingsley David - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Kingsley M. D. David"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="passport" class="quickFade">
			<img src="{% static 'images/passport.jpg' %}" alt="Kingsley David" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Kingsley M. D. David</h1>
			<h2 class="quickFade delayThree">The Beloved Tech Enthusiast</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>thedearlybelovedone@gmail.com</li>
				<li>+234 (0) 905 351 8089</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>An intuitive, assertive, astute and empathetic engineering graduate and tech enthusiast, who enjoys proffering ingenious solutions to challenges.
						Looking to combine useful engineering and IT skills, relevant work experience, good businesses acumen, a good sense of humour,
						and devotion to godly principles in a role that fosters personal and professional growth whilst also adding value to your organisation. </p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Supervisor/Project Controller at Shipside Drydock Limited [Paid]</h2>
					<p class="subDetails">Sept 2018 - Present</p>
					<ul>
						<li>Part of the Technical team preparing and reviewing project plans, job procedures, QHSE requirements, time sheets, work charts and other relevant information for project management, execution, monitoring, control, as well as resolving disparities in payroll.</li>
						<li>Preparing and submitting daily technical, activity and job progress reports including schedules, observations, man-hours, risks, and scope changes using Microsoft Excel, Word and Project.</li>
						<li>Supervising and managing on-site personnel. Interfacing between field personnel and upper-level management, thus ensuring speedy resolution of job challenges.</li>
						<li>Assisting in providing IT support such as network configuration and system diagnosis and resolution.</li>
					</ul>
				</article><br>
				
				<article>
					<h2>Media and ICT Team Lead at First Light Trust Foundation [Voluntary]</h2>
					<p class="subDetails">Apr 2018 - Present</p>
					<ul>
						<li>Diagnosing, troubleshooting and resolving all IT-related issues of the foundation.</li>
						<li>Procuring IT equipment for the foundation’s operations.</li>
						<li>Giving expert advice on IT-related issues, thus playing a part in key IT decisions.</li>
						<li>Working with and leveraging on the knowledge of other office personnel to strengthen the foundation’s online presence.</li>
					</ul>
					</article><br>
				
				<article>
					<h2>Student IT Helpdesk Assistant at University of Glasgow [Paid]</h2>
					<p class="subDetails">Sept 2014 - Aug 2016</p>
					<ul>
						<li>Worked in a proactive team that responded to various IT challenges encountered by over 500 IT users in the University: ranging from networking to common applications and hardware support. </li>
						<li>Provided IT support over the phone and in person to IT users in the University.</li>
						<li>Proffered innovative solutions to various IT challenges encountered in the office.</li>
						<li>Maintained accurate logging/ticketing/documentation of complaints handled in a logging software.</li>
						<li>Taught ICT skills to staff, students and visitors.</li>
						<li>Submitted brief and detailed end-of-shift reports.</li>
						<li>Completed an ITIL workshop. Learnt about effective service management and best practises used in numerous IT organizations.</li>
					</ul>
				</article>
			</div>
			<div class="clear"></div>
		</section><br>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Fully competent in using various Microsoft Office Packages</li>
					<li>Able to be thorough and accurate when accomplishing various tasks.</li>
					<li>Beginner proficiency in Linux and the Command Line Interface.</li>
					<li>Beginner to intermediate programming skills in Python.</li>
					<li>Can communicate clearly and effectively with people across various cultural backgrounds.</li>
					<li>Excellent multi-tasking abilities. Can prioritise and work efficiently in a highly pressurised environment.</li>
					<li>Fully competent in using various Microsoft Office Packages.</li>
					<li>Specialist knowledge in IT, networking, common applications and hardware support.</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section><br>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>University of Glasgow</h2>
					<p class="subDetails">June 2016</p>
					<p>BEng (Hons) Mechanical Engineering: Second Class (Division I)</p>
				</article>
				
				<article>
					<h2>Science and Arts Specialist College</h2>
					<p class="subDetails">June 2006</p>
					<p>National Examinations Council (NECO)</p>
				</article>
			</div>
			<div class="clear"></div>
		</section><br>

		<section>
			<div class = "sectionFooter">
				<img src="{% static 'images/zuri.jpeg' %}" alt="Zuri I4G" /><br>
				<a href="https://internship.zuri.team/"> Zuri Internship </a>
			</div>
		</section>
		
	</div>

</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>